:root {
    --primary-color: #4459A2;
    --secondary-color: #C9D1D9;
    --background-color: #F3F3F3;

    --btn-border: 3px solid var(--primary-color)
}

@font-face {
    font-family: "Playfair Display";
    src: url(../fonts/playfair-display/static/PlayfairDisplay-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

body {
    background-color: var(--secondary-color);
}

input {
    border-color: var(--primary-color) !important;
}

h1, h2, h3, h4 {
    font-family: "Playfair Display" !important;
}

p, span, label, a {
    font-family: "Roboto";
}

.title {
    color: var(--primary-color) !important;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
}

.confirmation-title {
    color: var(--primary-color) !important;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 85.31px;
}

.title-container {
    margin-bottom: 16px;
}

.md-primary {
    font-weight: bold;
    background-color: var(--primary-color) !important;
    border-radius: 5px;
    color: #FFFFFF !important;
}

.md-primary-no-bg {
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    color: var(--primary-color) !important;
}

.md-secondary {
    font-weight: bold;
    background-color: var(--secondary-color) !important;
    border-radius: 5px;
    color: var(--primary-color) !important;
}

.box {
    background-color: var(--background-color);
    padding: 38.44px;
}

.description {
    margin-bottom: 16px;
}

.description strong {
    color: var(--primary-color);
    font-weight: bold;
}

.input-group-text .md-button{
    border-radius: 0px 5px 5px 0px;
}

a {
    color: var(--primary-color);
}

.description p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-b {
    padding-bottom: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.margin-b-16 {
    margin-bottom: 16px;
}

.margin-b-24 {
    margin-bottom: 24px;
}

.margin-b-48 {
    margin-bottom: 48px;
}

.rounded {
    border-radius: 10px !important;
}

.md-button {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding: 2px 30px 2px 30px
}

.field-group {
    text-align: center;
    margin-bottom: 45px;
}

.field-group h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto";
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 13px;
    letter-spacing: 0.05em;
    line-height: 19px;
}

.footer {
    margin-bottom: 35px;
    font-size: 12px !important;
    line-height: 14px !important;
}