:root {
    --primary-color: #4459A2;
    --secondary-color: #C9D1D9;

    --btn-border: 3px solid var(--primary-color)
}

@font-face {
    font-family: "Playfair Display";
    src: url(../fonts/playfair-display/static/PlayfairDisplay-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

body {
    background-color: var(--secondary-color);
}

h1, h2, h3, h4 {
    font-family: "Playfair Display" !important;
}

p, span, label, a {
    font-family: "Roboto";
}

.title {
    color: var(--primary-color) !important;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
}

.confirmation-title {
    color: var(--primary-color) !important;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 85.31px;
}

.title-container {
    margin-bottom: 16px;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    color: #FFFFFF !important;
}

.box {
    background-color: #FFFFFF;
    padding: 38.44px;
}

.description {
    margin-bottom: 16px;
}

a {
    color: var(--primary-color);
}

.description p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.margin-b-24 {
    margin-bottom: 24px;
}

.rounded {
    border-radius: 10px !important;
}

.md-button {
    padding: 2px 30px 2px 30px
}

.footer {
    margin-bottom: 35px;
    font-size: 12px !important;
    line-height: 14px !important;
}