
<div layout="column" flex="100" layout-align="center center" layout-fill>
    <div layout="row" flex="100" layout-wrap layout-align="center center">
        <div class="box rounded" flex="100" layout-wrap> 
            <div class="title-container" layout="row" flex="100" layout-align="center center">
                <h1 class="confirmation-title">Thank you!</h1>
            </div>
    
            <div class="description">
                <p>You are now subscribed to our newsletter.</p>
            </div>          
        </div>
    </div>

    <div layout="column" flex="none" layout-align="center end">
        <div class="footer">
            <p>Are you a restaurant owner? <a ui-sref="restaurant" href="/restaurant/">Click here</a> to add your daily specialties.</p>
        </div>
    </div>
</div>