
<div layout="column" flex="100" layout-align="center center" layout-fill>
    <div layout="row" flex="100" layout-wrap layout-align="center center">
        <div ng-class="['box rounded', { 'no-padding-b': ConfirmationCtrl.menuDay }]" flex="100" layout-wrap> 
            <div class="title-container" layout="row" flex="100" layout-align="center center">
                <h1 class="confirmation-title">Thank you!</h1>
            </div>
            
            <div class="description" ng-if="!ConfirmationCtrl.menuDay">
                <p>You are now subscribed to our newsletter.</p>
            </div>

            <div ng-if="ConfirmationCtrl.menuDay" layout="row" flex="100" layout-wrap layout-align="center center">
                <div class="description" flex="100">
                    <p>Your specialties for <strong>{{ConfirmationCtrl.menuDay}}</strong> were added to our database.</p>
                </div>
                <md-button class="md-primary-no-bg" ng-click="ConfirmationCtrl.backToHome()">Back to home</md-button>
            </div>
        </div>
    </div>

    <div layout="column" flex="none" layout-align="center end"  ng-if="!ConfirmationCtrl.menuDay">
        <wa-footer></wa-footer>
     </div>
</div>